[buildout]
extends = https://raw.githubusercontent.com/senaite/senaite.core/2.x/buildout.base.cfg
package-name = senaite.impress

parts +=
    update_translations

# Auto-checkout all sources but senaite.impress
auto-checkout =
    senaite.core
    senaite.app.listing
    senaite.app.spotlight
    senaite.app.supermodel
    senaite.jsonapi
    senaite.lims

[update_translations]
recipe = collective.recipe.template
output = ${buildout:directory}/bin/update_translations
input = ${buildout:directory}/templates/update_translations.in
mode = 755
