@page {
  margin: 0;

  /* Paging */
  @bottom-right {
    content: counter(page) "/" counter(pages);
    margin: -5mm 2.5mm 2.5mm 2.5mm;
    font-size: 9pt;
  }
}

@media print {
  /* Needed for fixed content to appear on all pages */
  html,
  body {
    margin: 0;
    height: 100%;
  }
  .report {
    margin: 0;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
  }
  .report .section-footer {
    position: fixed;
    bottom: 0;
  }
}

/** For screen preview **/
@media screen {
  body { background: #e0e0e0 }
  .report {
    background: white;
    /* box-shadow: 0 .5mm 2mm rgba(0,0,0,.3); */
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    margin: 5mm auto;
  }
}
