body { margin: 0 }
.report {
  margin: 0;
  /* overflow: hidden; */
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}
@media print {
  .noprint {
    display: none;
  }
  div.row {page-break-inside: avoid;}
}
/** For screen preview **/
@media screen {
  body {
    background: #e0e0e0;
  }
  .container {
    min-width: 1200px!important;
  }
  .report {
    background: white;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    margin: 5mm auto; /* separator between pages */
    padding: 0!important; /* Avoid double padding in the screen view */
  }
}
